Lead_Qualification_System-n8n.json
{
  "name": "Lead Qualification System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1BY4J90uGaAiL5nMmuHTbSKyOmu53sek4wFUb6tG5w0I",
          "mode": "list",
          "cachedResultName": "ABC Company - Leads Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BY4J90uGaAiL5nMmuHTbSKyOmu53sek4wFUb6tG5w0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 110786534,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BY4J90uGaAiL5nMmuHTbSKyOmu53sek4wFUb6tG5w0I/edit#gid=110786534"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f5aff44f-f9a8-460e-af6d-f129a8b9eeb2",
      "name": "Google Sheets Trigger",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "ahSaYky3X4zI6SkL",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unsportsmanlike-clarisa-undelightedly.ngrok-free.dev/enrich",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fullName",
              "value": "={{ $json.fullName }}\n"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}\n"
            },
            {
              "name": "companyName",
              "value": "={{ $json.companyName }}\n"
            },
            {
              "name": "website",
              "value": "={{ $json.website }}\n"
            },
            {
              "name": "country",
              "value": "={{ $json.country }}\n"
            },
            {
              "name": "leadSource",
              "value": "={{ $json.leadSource }}\n"
            },
            {
              "name": "budget",
              "value": "={{ $json.budget }}\n"
            },
            {
              "name": "notes",
              "value": "=\t{{ $json.notes }}"
            },
            {
              "name": "consent",
              "value": "={{ $json[\"Consent to Contact\"] === \"Yes\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        16
      ],
      "id": "f0338408-c87c-4338-8401-82bc97dc8c1d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BY4J90uGaAiL5nMmuHTbSKyOmu53sek4wFUb6tG5w0I",
          "mode": "list",
          "cachedResultName": "ABC Company - Leads Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BY4J90uGaAiL5nMmuHTbSKyOmu53sek4wFUb6tG5w0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 110786534,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BY4J90uGaAiL5nMmuHTbSKyOmu53sek4wFUb6tG5w0I/edit#gid=110786534"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Code in JavaScript').first().json.Timestamp }}",
            "Normalized Email": "={{ $json.normalizedEmail }}",
            "Enrichment Status": "={{ $json.status }}",
            "Enriched Website": "={{ $json.enrichedWebsite }}",
            "AI Summary": "={{ $json.aiSummary }}",
            "AI Fit Score": "={{ $json.aiFitScore }}",
            "AI Recommendation": "={{ $json.aiRecommendation }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Normalized Email",
              "displayName": "Normalized Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enrichment Status",
              "displayName": "Enrichment Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enriched Website",
              "displayName": "Enriched Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Fit Score",
              "displayName": "AI Fit Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Recommendation",
              "displayName": "AI Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Logs",
              "displayName": "Error Logs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lead Source",
              "displayName": "Lead Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estimated Budget",
              "displayName": "Estimated Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Consent to Contact",
              "displayName": "Consent to Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        16
      ],
      "id": "1deaea4d-3205-40a8-9d62-374fa498e03a",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OBV2hoD6YFrGGdd7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BY4J90uGaAiL5nMmuHTbSKyOmu53sek4wFUb6tG5w0I",
          "mode": "list",
          "cachedResultName": "ABC Company - Leads Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BY4J90uGaAiL5nMmuHTbSKyOmu53sek4wFUb6tG5w0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 110786534,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BY4J90uGaAiL5nMmuHTbSKyOmu53sek4wFUb6tG5w0I/edit#gid=110786534"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email Address",
              "lookupValue": "={{ $('Google Sheets Trigger').item.json[\"Email Address\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        0
      ],
      "id": "ead58381-a1ce-41eb-bc2b-ecbb0f52c1c3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OBV2hoD6YFrGGdd7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allTriggerItems = $('Google Sheets Trigger').all();\nconst trigger = allTriggerItems[allTriggerItems.length - 1];\nconst newEmail = trigger.json[\"Email Address\"].toLowerCase().trim();\nconst allRows = $('Get row(s) in sheet').all();\nconst count = allRows.filter(row => {\n  const email = (row.json[\"Email Address\"] || \"\").toLowerCase().trim();\n  return email === newEmail;\n}).length;\nif (count > 1) {\n  return [{\n    json: {\n      Timestamp: trigger.json[\"Timestamp\"],\n      isDuplicate: true,\n      \"Enrichment Status\": \"DUPLICATE\"\n    }\n  }];\n}\nreturn [{\n  json: {\n    Timestamp: trigger.json[\"Timestamp\"],\n    fullName: trigger.json[\"Full Name\"],\n    email: trigger.json[\"Email Address\"],\n    companyName: trigger.json[\"Company Name\"],\n    website: trigger.json[\"Company Website\"] || \"\",\n    country: trigger.json[\"Country\"],\n    leadSource: trigger.json[\"Lead Source\"],\n    budget: trigger.json[\"Estimated Budget\"],\n    notes: trigger.json[\"Notes\"] || \"\",\n    consent: trigger.json[\"Consent to Contact\"] === \"Yes\",\n    isDuplicate: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        0
      ],
      "id": "2632a778-3c3a-4a99-863c-22869382ffb6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dc577bde-8d61-4b32-a40a-009a9b101abe",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        0
      ],
      "id": "07798b0a-02f5-4082-aab5-3a14d617e278",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1BY4J90uGaAiL5nMmuHTbSKyOmu53sek4wFUb6tG5w0I",
          "mode": "list",
          "cachedResultName": "ABC Company - Leads Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BY4J90uGaAiL5nMmuHTbSKyOmu53sek4wFUb6tG5w0I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 110786534,
          "mode": "list",
          "cachedResultName": "Respuestas de formulario 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BY4J90uGaAiL5nMmuHTbSKyOmu53sek4wFUb6tG5w0I/edit#gid=110786534"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "Enrichment Status": "DUPLICATE"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Normalized Email",
              "displayName": "Normalized Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Enrichment Status",
              "displayName": "Enrichment Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enriched Website",
              "displayName": "Enriched Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AI Fit Score",
              "displayName": "AI Fit Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "AI Recommendation",
              "displayName": "AI Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Error Logs",
              "displayName": "Error Logs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lead Source",
              "displayName": "Lead Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estimated Budget",
              "displayName": "Estimated Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Consent to Contact",
              "displayName": "Consent to Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        -240
      ],
      "id": "2bdc65a3-b51f-4851-a865-1ad9809cad86",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OBV2hoD6YFrGGdd7",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "92b4e262-8dab-4fb8-a974-c316e069869c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc7957911c4da47b896e749fcae2b5a2800fa3fbe3c22425c9a61b7a47db0cb6"
  },
  "id": "ECLyUbyEnRP_K7YHTS2Rc",
  "tags": []
}